@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:wght@400;700&family=Roboto:wght@300&family=Ubuntu:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Bebas Neue','Comic Neue','Ubuntu', sans-serif;
}

body{
    background-color: #222;
}

.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/header-image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}

nav .logoImg{
    width: 150px;
}

nav .btn{
    display: inline-flex;
    align-items: center;
}

nav .btn button {
    padding: 10px 20px;
    border-radius: 4px;
    background: #e50914;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    outline: 0;
    border: 0;
}

nav .btn .language-btn{
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
}

nav .language-btn img{
    width: 10px;
    margin-left: 10px;
}

.language-btn .fa-globe{
    margin-right: 8px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
}

.header-content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
    max-width: 650px;
}

.header-content h3{
    font-size: 27px;
    color: #fff;
    margin-top: 20px;
}

.header-content p{
    color: #fff;
    font-weight: 500;
    margin-top: 40px;
}

.header-content .email-signup, .header-contents .email-signup{
    margin-top: 30px;
    display: flex;
    background: #fff;
    overflow: hidden;
}

.header-content .email-signup input, .header-contents .email-signup input{
    flex: 1;
    outline: 0;
    border: 0;
    margin-left: 20px;
    font-size: 16px;
}

.header-content .email-signup button, .header-contents .email-signup button {
    padding: 10px 20px;
    background: #e50914;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.features{
    background: #000;
    margin-top: 10px;
    padding: 30px 12%;
}

.features .advert-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advert-media .colText{
    flex-basis: 50%;
    margin: 20px 0;
}

.advert-media .col-Vid{
    flex-basis: 50%;
    height: fit-content;
   
}

.advert-media .colText h2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.advert-media .colText p{
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}

.advert-media .col-Vid img{
    width: 100%;
    margin: auto;
}

/* ------------------------------------faq Section------------------------------------------ */

.faq{
    text-align: center;
    padding: 100px 18%;
    background-color: #000;
    margin-top: 10px;
    color: #fff;
}

.faq h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content {
    max-height: 0;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    background: #303030;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 650px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.header-contents{
    margin-top: 30px;
    width: 45%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
